/*-----------------------------------------------------------------------------------

  Template Name: Clinico - Responsive Medical and Health Template  
  Template URI: http://themeforest.net/user/CreativeWS/portfolio
  Description: Clinico is a powerful multipurpose responsive template suitable for medical and health related businesses. Its fresh and clean design makes it applicable for corporate websites, personal blogs, product-oriented sites as well.
  Author: Creative Web Solutions 
  Author URI: http://creaws.com
  
-----------------------------------------------------------------------------------

-- General
  -- fonts
  -- COMPOSER
  -- defaults
  -- forms
  -- buttons
  -- page
  -- grid
  -- typography
  -- clearfix
-- Plugins
  -- isotope
  -- owl carousel
-- HEADER
  -- layout
  -- logo
  -- main nav
  -- mobile main nav
  -- quick search
-- CONTENT
  -- layout
  -- page title
  -- slider
  -- benefits
  -- services
  -- news
  -- photo tour
  -- Services Carousel
  -- Features unlimited color
  -- page-404
  -- Retina ready and responsive
  -- captcha
  -- blog post
  -- comments
  -- add comment
  -- doctors
  -- doctors carousel
  -- timetable
  -- map
  -- feedback
-- ELEMENTS
  -- text
  -- accordion
  -- buttons
  -- callout
  -- capitalized
  -- chart graph
  -- dividers
  -- icons
  -- messages
  -- milestone
  -- pricing table
  -- progress bar
  -- services
  -- news
  -- location
  -- recent posts
  -- work time
  -- copyrights
-- ANIMATIONS
  -- slide up





*/

/*************************************************************************/

/**/
/* fonts */
/**/

@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,900,400italic&subset=latin,latin-ext);


/**/
/* COMPOSER */
/**/
/* Grid with fluid columns */
.vc_row-fluid {
  width: 100%;
  *zoom: 1;
  -ms-box-sizing:border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.vc_row-fluid:before,
.vc_row-fluid:after {
  display: table;
  content: "";
}
.vc_row-fluid:after {
  clear: both;
}
.vc_row-fluid [class*="vc_span"] {
  display: block;
  width: 100%;
  min-height: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  margin-left: 2.5%;
}
.vc_row-fluid [class*="vc_span"]:first-child {
  margin-left: 0;
}
.vc_row-fluid .vc_span12,
.wpb_teaser_grid.wpb_carousel .vc_span12 {
  width: 100%;
}
.vc_row-fluid .vc_span11 {
  width: 91.45833333333334%;
}
.vc_row-fluid .vc_span10 {
  width: 82.91666666666667%;
}
.vc_row-fluid .vc_span9 {
  width: 74.375%;
}
.vc_row-fluid .vc_span8 {
  width: 65.83333333333334%;
}
.vc_row-fluid .vc_span7 {
  width: 57.29166666666667%;
}
.vc_row-fluid .vc_span6,
.wpb_teaser_grid.wpb_carousel .vc_span6 {
  width: 48.75%;
}
.vc_row-fluid .vc_span5 {
  width: 40.208333333333336%;
}
.vc_row-fluid .vc_span4,
.wpb_teaser_grid.wpb_carousel .vc_span4 {
  width: 31.666666666666668%;
}
.vc_row-fluid .vc_span3,
.wpb_teaser_grid.wpb_carousel .vc_span3 {
  width: 23.125%;
}
.vc_row-fluid .vc_span2 {
  width: 14.583333333333334%;
}
.vc_row-fluid .vc_span1 {
  width: 6.041666666666667%;
}
.vc_row-fluid > .wpb_column > .wpb_wrapper .wpb_content_element:last-child {
  margin-bottom: 0;
}
@media screen and (min-resolution:300dpi) and (max-width:960px){
  [class*="vc_span"]{
    width:100% !important;
    margin-left:0 !important;
  }
  .vc_row-fluid [class*="vc_span"]+[class*="vc_span"]{
    margin-top:50px;
  }
}
@media screen and (max-width:767px){
  [class*="vc_span"]{
    width:100% !important;
    margin-left:0 !important;
  }
  .vc_row-fluid [class*="vc_span"]+[class*="vc_span"]{
    margin-top:50px;
  } 
}
.wpb_content_element .wpb_tour_tabs_wrapper .wpb_tabs_nav a,
.wpb_content_element .wpb_accordion_header a {
  border-bottom: none;
  text-decoration: none;
  display: block;
  padding: 0.5em 1em;
}
.wpb_content_element .wpb_tour_tabs_wrapper .wpb_tab > .wpb_content_element:last-child,
.wpb_content_element .wpb_accordion_wrapper .wpb_accordion_content > .wpb_content_element:last-child,
.wpb_content_element .wpb_tour_tabs_wrapper .wpb_tab .vc_row-fluid:last-child > div > div.wpb_wrapper .wpb_content_element:last-child,
.wpb_content_element .wpb_accordion_wrapper .wpb_accordion_content .vc_row-fluid:last-child > div > div.wpb_wrapper .wpb_content_element:last-child {
  margin-bottom: 0;
}
.wpb_button {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */

  *zoom: 1;
  padding: 4px 10px 4px;
  margin-bottom: 0;
  margin-top: 0;
  font-size: 13px;
  line-height: 18px;
  *line-height: 20px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #f7f7f7;
  border: 1px solid #cccccc;
  *border: 0;
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  *margin-left: .3em;
}
.vc_row-fluid,
.wpb_content_element,
ul.wpb_thumbnails-fluid > li,
.last_toggle_el_margin,
.wpb_button {
  margin-bottom: 30px;
}
button.wpb_btn-large,
span.wpb_btn-large {
  padding: 9px 14px;
  font-size: 15px;
  line-height: normal;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
button.wpb_btn-large [class^="icon-"],
span.wpb_btn-large [class^="icon-"] {
  margin-top: 1px;
}
button.wpb_btn-small,
span.wpb_btn-small {
  padding: 5px 9px;
  font-size: 11px;
  line-height: 16px;
}
button.wpb_btn-small [class^="icon-"],
span.wpb_btn-small [class^="icon-"] {
  margin-top: -1px;
}
button.wpb_btn-mini,
span.wpb_btn-mini {
  padding: 2px 6px;
  font-size: 11px;
  line-height: 14px;
}
.wpb_call_to_action .wpb_button, .detailed-services .wpb_button{
  margin: 0;
  -ms-box-sizing:border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.cta_align_left .wpb_button {
  float: left;
}
.cta_align_right .wpb_button {
  float: right;
}
.cta_align_left .wpb_call_text,
.cta_align_right .wpb_call_text {
  width: 70%;
  float: left;
  clear: none;
}
.wpb_call_to_action .wpb_call_text,
#content .wpb_call_to_action .wpb_call_text {
  margin: 0;
  padding-top: 0;
}
/*** Pie chart **/
.vc_pie_chart {
  z-index: 0;
  text-align: center;
}
.vc_pie_chart .vc_pie_wrapper {
  position: relative;
  margin: 0 auto;
}
.vc_pie_chart canvas {
  position: relative;
  z-index: 1;
}
.vc_pie_chart .vc_pie_chart_value {
  font-size: 200%;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
}
.vc_pie_chart[data-pie-color="wpb_button"] .vc_pie_chart_back {
  border-color: #f7f7f7;
}
.vc_pie_chart[data-pie-color="btn-primary"] .vc_pie_chart_back {
  border-color: #0088cc;
}
.vc_pie_chart[data-pie-color="btn-info"] .vc_pie_chart_back {
  border-color: #58b9da;
}
.vc_pie_chart[data-pie-color="btn-success"] .vc_pie_chart_back {
  border-color: #6ab165;
}
.vc_pie_chart[data-pie-color="btn-warning"] .vc_pie_chart_back {
  border-color: #ff9900;
}
.vc_pie_chart[data-pie-color="btn-danger"] .vc_pie_chart_back {
  border-color: #ff675b;
}
.vc_pie_chart[data-pie-color="btn-inverse"] .vc_pie_chart_back {
  border-color: #555555;
}
.vc_pie_chart_back {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border: 6px solid #f7f7f7;
  border-radius: 999px;
  border-radius: 50%;
  opacity: 0.3;
  filter: alpha(opacity=30);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

.chart-pie{
  position: relative;
  width:250px;
  height:250px;
  display:inline-block;
  margin-right:30px;
}
.chart-pie:before,.chart-pie:after{
  position:absolute;
  content:"";
}
.chart-pie.type-2:before{
  width:100px;
  height:100px;
  border-radius:50px;
  position:absolute;
  content:"";
  background:#fff;
  z-index:1;
  left:75px;
  top:75px;
}
.chart-pie.type-3:before{
  width:24px;
  height:24px;
  border-radius:12px;
  left:113px;
  top:113px;
  background:#fff;
  z-index:1;
}
.chart-pie.type-3:after{
  width:12px;
  height:12px;
  border-radius:6px;
  left:119px;
  top:119px;
  background:#008fd5;
  z-index:2;
}
/* Progress bar
---------------------------------------------------------- */
.vc_progress_bar .vc_label{
    line-height:1.5 !important;
    vertical-align: middle;
  }
.vc_progress_bar .vc_single_bar {
  background: #f7f7f7;
  position: relative;
  margin-bottom: 11.666666666666666px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.vc_progress_bar .vc_single_bar:last-child {
  margin-bottom: 0;
}
.vc_progress_bar .vc_single_bar .vc_label {
  display: block;
  padding: 0.5em 1em;
  position: relative;
  z-index: 1;
}
.vc_progress_bar .vc_single_bar.bar_blue .vc_bar {
  background-color: #0074CC;
}
.vc_progress_bar .vc_single_bar.bar_blue .vc_label {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.vc_progress_bar .vc_single_bar.bar_turquoise .vc_bar {
  background-color: #49afcd;
}
.vc_progress_bar .vc_single_bar.bar_turquoise .vc_label {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.vc_progress_bar .vc_single_bar.bar_green .vc_bar {
  background-color: #5bb75b;
}
.vc_progress_bar .vc_single_bar.bar_green .vc_label {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.vc_progress_bar .vc_single_bar.bar_orange .vc_bar {
  background-color: #faa732;
}
.vc_progress_bar .vc_single_bar.bar_orange .vc_label {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.vc_progress_bar .vc_single_bar.bar_red .vc_bar {
  background-color: #da4f49;
}
.vc_progress_bar .vc_single_bar.bar_red .vc_label {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.vc_progress_bar .vc_single_bar.bar_black .vc_bar {
  background-color: #414141;
}
.vc_progress_bar .vc_single_bar.bar_black .vc_label {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.vc_progress_bar .vc_single_bar .vc_bar {
  display: block;
  position: absolute;
  height: 100%;
  background-color: #e0e0e0;
  width: 0%;
  top: 0;
  left: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition:width 0.01 linear;
  transition:width 0.01 linear;
}
@media screen and (max-width:479px){
  .vc_progress_bar .vc_label{
    display:block !important;
    margin-top:20px !important;
    padding-top:0px !important;
    left:0 !important;
    width:100% !important;
    overflow:hidden !important;
    text-align:center !important;
  }
  .vc_progress_bar .vc_single_bar{
    margin-bottom:60px !important;
    height:auto !important;
    margin-left: 0 !important;
    overflow:visible !important;
  }
  .vc_progress_bar.vc_progress_bar_alt .vc_single_bar{
    margin-bottom:45px !important;   
  }
  .vc_single_bar:last-child,.vc_progress_bar_alt .vc_single_bar:last-child{
    margin-bottom:0 !important;
  }
  .vc_progress_bar .vc_bar{
    height:20px !important;
  }
}
.vc_progress_bar .vc_single_bar .vc_bar.striped {
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  -webkit-background-size: 40px 40px;
  -moz-background-size: 40px 40px;
  -o-background-size: 40px 40px;
  background-size: 40px 40px;
}
.vc_progress_bar .vc_single_bar .vc_bar.animated {
  -webkit-animation: progress-bar-stripes 2s linear infinite;
  -moz-animation: progress-bar-stripes 2s linear infinite;
  -ms-animation: progress-bar-stripes 2s linear infinite;
  -o-animation: progress-bar-stripes 2s linear infinite;
  animation: progress-bar-stripes 2s linear infinite;
}
@-webkit-keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}
@-moz-keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}
@-ms-keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}
@-o-keyframes progress-bar-stripes {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 40px 0;
  }
}
@keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}
.wpb_tabs .wpb_tabs_nav li {
  float: left;
  margin: 0 1px 0 0;
}
.wpb_tour .wpb_tabs_nav {
  float: left;
  width: 31.666666666666668%;
}
.wpb_tour .wpb_tour_tabs_wrapper .wpb_tab {
  -ms-box-sizing:border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: none;
  float: left;
  width: 68.33333333333333%;
  padding: 0 0 0 21.739130434782606px;
}
.wpb_toggle_content {
  display: none;
  overflow: hidden;
  padding: 0px 0px 0px 25px;
  margin-top: 1em;
}
.wpb_toggle{
  cursor:pointer;
}
/* Twitter
---------------------------------------------------------- */
#content .wpb_twitter_widget ul.tweet_list,
.wpb_twitter_widget ul.tweet_list {
  margin: 0;
  padding: 0;
}
#content .wpb_twitter_widget ul.tweet_list li,
.wpb_twitter_widget ul.tweet_list li {
  border-bottom: 1px solid #f7f7f7;
  margin: 0 0 1em 0;
  padding-bottom: 1em;
  background-image: none;
  list-style: none !important;
}
#content .wpb_twitter_widget ul.tweet_list li:after,
.wpb_twitter_widget ul.tweet_list li:after,
#content .wpb_twitter_widget ul.tweet_list li:before,
.wpb_twitter_widget ul.tweet_list li:before {
  display: none !important;
}
.wpb_twitter_widget .tweet_time {
  display: block;
  color: #f7f7f7;
  font-size: 80%;
}
.wpb_twitter_widget p.twitter_follow_button_wrap {
  margin-bottom: 0;
  font-size: 80%;
}
.wpb_twitter_widget .twitter_follow_button {
  background-image: url(../images/twitter_bird.png);
  background-position: left center;
  background-repeat: no-repeat;
  padding-left: 25px;
  display: inline-block;
  min-height: 16px;
}
.wpb_alert p:last-child,
#content .wpb_alert p:last-child,
.wpb_text_column p:last-child,
.wpb_text_column *:last-child,
#content .wpb_text_column p:last-child,
#content .wpb_text_column *:last-child,
.wpb_toggle_content p:last-child {
  margin-bottom: 0;
}
/* COMPOSER */

/**/
/* defaults */
/**/

html, body, iframe, header, footer, main, aside, nav, section, article, div,
h1, h2, h3, h4, h5, h6, p, dl, dt, dd, ul, ol, li, hr, blockquote, pre,
a, address, del, em, strong, sub, sup, figure, figcaption, img,
form, fieldset, legend, label, input, select, textarea, button,
table, thead, tbody, tfoot, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  background: none;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
html, body, iframe, header, footer, main, aside, nav, section, article, div,
h1, h2, h3, h4, h5, h6, p, dl, dt, dd, ul, ol, li, hr, blockqoute, pre, figure, figcaption,
form, fieldset, legend, label, input, select, textarea, button {
  display: block;
}
html, body {
  -webkit-text-size-adjust: none;
}
dl, dt, dd, ul, ol, li {
  list-style: none;
}
table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
a, button {
  cursor: pointer;
}

p {
  text-indent:2em;
}
 
.services p,
.wpb_accordion p,
.widget p, 
.wpb_tabs p,
.wpb_toggle_content p,
.latest-tweets p,
p.capitalized {
  text-indent:initial;
}

html, body {
  background: #f2f2f2;
  font: 400 14px/1.55 Lato, Helvetica, Arial, sans-serif;
  color: #7c7c7c;
}
a {
  text-decoration: none;
  -o-transition: border 0.3s, background 0.3s, color 0.3s;
  -ms-transition: border 0.3s, background 0.3s, color 0.3s;
  -moz-transition: border 0.3s, background 0.3s, color 0.3s;
  -webkit-transition: border 0.3s, background 0.3s, color 0.3s;
}
a:hover {
  color: #000;
}
.page {
  background: #fff;
  opacity: 1;
}


/**/
/* forms */
/**/



/**/
/* timetable */
/**/
.timetable .filter {
  float: right;
  width: 270px;
  height: 30px;
  margin-top: -50px;
  padding-top: 4px;
  padding-bottom: 4px;
}
.timetable header {
  position: relative;
  height: 94px;
  text-align: center;
}
.timetable .year {
  position: absolute;
  top: 0;
  left: 0;
  width: 146px;
  font-size: 24px;
  line-height: 94px;
  color: rgba(255,255,255,0.5);
}
.timetable .month {
  padding-top: 10px;
  font-size: 30px;
  line-height: 30px;
  color: #fff;
}
.timetable .day {
  position: relative;
  width: 220px;
  margin: 10px auto;
}
.timetable .day a {
  position: absolute;
  top: 0;
  width: 28px;
  height: 28px;
  font-size: 28px;
  line-height: 26px;
  text-align: center;
  color: rgba(0,0,0,0.3);
}
.timetable .day input {
  height: 28px;
  padding: 3px 40px 3px 5px;
  border-radius: 14px;
  text-align: center;
}
.timetable .day .cal {
  top: 0;
  right: 0;
  width: 35px;
  padding-right: 5px;
  font-size: 14px;
  line-height: 28px;
  border-left-width: 1px;
  border-left-style: solid;
}
.timetable .day .prev {
  left: -38px;
}
.timetable .day .next {
  right: -38px;
}
.timetable .switcher {
  position: absolute;
  top: 0;
  right: 0;
  width: 146px;
  height: 34px;
  padding: 30px 0;
  font-size: 0;
}
.timetable .switcher a {
  display: inline-block;
  vertical-align: middle;
  width: 34px;
  height: 34px;
  overflow: hidden;
  margin: 0 2px;
  border-radius: 50px;
  background: #fff;
  box-shadow: 1px 1px 0 rgba(0,0,0,0.1);
  font-size: 14px;
  line-height: 34px;
  text-align: center;
}
.timetable .switcher .active {
  box-shadow: 1px 1px 0 rgba(255,255,255,0.1);
  color: #fff;
  cursor: default;
}
.timetable .switcher .active:hover {
  color: #fff;
}
.timetable .switcher .fa-list {
  line-height: 36px;
}
.timetable .month-view th {
  width: 14.28%;
  padding: 20px 0;
  font-size: 12px;
  line-height: 16px;
}
.timetable .month-view td {
  width: 14.28%;
  border: 1px solid #fff;
  background: #efefef;
  vertical-align: top;
  font-size: 12px;
  line-height: 16px;
  color: #000;
  -webkit-user-select: none;
}
.timetable .month-view td:first-child {
  border-left: 0;
}
.timetable .month-view td:last-child {
  border-right: 0;
}
.timetable .month-view .event {
  position: relative;
}
.timetable .month-view .event a {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.timetable .month-view .event a span {
  display: none;
}
.timetable .month-view .event a:hover span {
  display: block;
}
.timetable .month-view .title {
  padding: 40px 50px 20px 20px;
  text-transform: uppercase;
  color: #fff;
}
.timetable .month-view .date {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  font-size: 14px;
  line-height: 40px;
  text-align: center;
  color: #7c7c7c;
}
.timetable .month-view .title + .date {
  color: #fff;
}
.timetable .month-view .details {
  position: relative;
  padding: 20px;
}
.timetable .month-view .popup {
  position: absolute;
  bottom: 100%;
  left: -9999px;
  width: 100%;
  color: #fff;
  opacity: 0;
  -o-transition: opacity 0.3s;
  -ms-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -webkit-transition: opacity 0.3s;
}
.timetable .month-view .popup:after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -4px;
  border-top: 4px solid transparent;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}
.timetable .month-view .popup p {
  padding: 0 20px 20px;
}
.timetable .month-view .popup .title {
  padding-top: 20px;
  background: inherit;
}
.timetable .month-view .event-container {
  -o-transition: background 0.3s, color 0.3s;
  -ms-transition: background 0.3s, color 0.3s;
  -moz-transition: background 0.3s, color 0.3s;
  -webkit-transition: background 0.3s, color 0.3s;
}
.timetable .month-view .event-container:hover {
  color: #fff;
}
.timetable .month-view .event-container:hover .popup {
  left: 0;
  opacity: 1;
}
.timetable .week-view th {
  width: 12.5%;
  padding: 20px 0;
  font-size: 12px;
  line-height: 16px;
  color: #008fd5;
}
.timetable .week-view th span {
  color: #7c7c7c;
}
.timetable .week-view td {
  width: 12.5%;
  border: 1px solid #e3e3e3;
  vertical-align: top;
  font-size: 12px;
  line-height: 16px;
  color: #000;
  -webkit-user-select: none;
}
.timetable .week-view td:first-child {
  vertical-align: middle;
  text-align: center;
  color: #7c7c7c;
}
.timetable .week-view td:first-child i {
  display: block;
  margin: 0 auto 10px;
  width: 18px;
  height: 18px;
  font-size: 18px;
  line-height: 18px;
}
.timetable .week-view .event {
  position: relative;
}
.timetable .week-view .event a {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.timetable .week-view .event a span {
  display: none;
}
.timetable .week-view .event a:hover span {
  display: block;
}
.timetable .week-view .event-container {
  background: #efefef;
}
.timetable .week-view .event-container {
  -o-transition: background 0.3s, color 0.3s;
  -ms-transition: background 0.3s, color 0.3s;
  -moz-transition: background 0.3s, color 0.3s;
  -webkit-transition: background 0.3s, color 0.3s;
}
.timetable .week-view .event-container:hover {
  color: #fff;
}
.timetable .week-view .title {
  padding: 20px;
  text-transform: uppercase;
  color: #fff;
}
.timetable .week-view .details {
  position: relative;
  padding: 20px;
}
.timetable .week-view .popup {
  position: absolute;
  bottom: 100%;
  left: -9999px;
  width: 100%;
  color: #fff;
  opacity: 0;
  -o-transition: opacity 0.3s;
  -ms-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -webkit-transition: opacity 0.3s;
}
.timetable .week-view .popup:after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -4px;
  border-top: 4px solid transparent;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}
.timetable .week-view .popup p {
  padding: 0 20px 20px;
}
.timetable .week-view .popup .title {
  padding-top: 20px;
  background: inherit;
}
.timetable .week-view .event-container:hover .popup {
  left: 0;
  opacity: 1;
}
.timetable .list-view th {
  width: 15%;
  padding: 20px 0;
  font-size: 12px;
  line-height: 16px;
}
.timetable .list-view th:last-child {
  width: 70%;
  padding-left: 20px;
  text-align: left;
}
.timetable .list-view td {
  width: 15%;
  border: 1px solid #e3e3e3;
  vertical-align: middle;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #7c7c7c;
  -webkit-user-select: none;
}
.timetable .list-view td i {
  display: block;
  margin: 0 auto 10px;
  width: 18px;
  height: 18px;
  font-size: 18px;
  line-height: 18px;
}
.timetable .list-view td:last-child {
  width: 70%;
  vertical-align: top;
  font-size: 13px;
  line-height: 22px;
  text-align: left;
}
.timetable .list-view .event {
  position: relative;
  padding: 20px;
}
.timetable .list-view .event a {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.timetable .list-view .event a span {
  display: none;
}
.timetable .list-view .event a:hover span {
  display: block;
}
.timetable .list-view .title {
  margin-bottom: 5px;
  text-transform: uppercase;
  color: #000;
  -o-transition: color 0.3s;
  -ms-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -webkit-transition: color 0.3s;
}
.timetable .list-view .event-container:hover .title {
  color: #fff;
}
.timetable .list-view .event-container {
  background: #efefef;
}
.timetable .list-view .event-container {
  -o-transition: background 0.3s, color 0.3s;
  -ms-transition: background 0.3s, color 0.3s;
  -moz-transition: background 0.3s, color 0.3s;
  -webkit-transition: background 0.3s, color 0.3s;
}
.timetable .list-view .event-container:hover {
  color: #fff;
}
.timetable .list-view .popup {
  position: absolute;
  bottom: 100%;
  left: -9999px;
  width: 100%;
  padding: 20px;
  color: #fff;
  opacity: 0;
  -ms-box-sizing:border-box;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-transition: opacity 0.3s;
  -ms-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -webkit-transition: opacity 0.3s;
}
.timetable .list-view .popup:after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -4px;
  border-top: 4px solid transparent;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}
.timetable .list-view .event-container:hover .popup {
  left: 0;
  opacity: 1;
}
.timetable .mobile-view {
  display: none;
}
.timetable .mobile-view dt {
  margin-top: 30px;
  font-size: 12px;
  text-transform: uppercase;
  color: #000;
}
.timetable .mobile-view dt span {
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
.timetable .mobile-view li {
  position: relative;
  padding: 14px 0 14px 28px;
  border-bottom: 1px solid #e1e1e1;
  line-height: 20px;
  color: #000;
}
.timetable .mobile-view li i {
  position: absolute;
  top: 15px;
  left: 0;
  width: 18px;
  height: 18px;
  font-size: 18px;
  line-height: 18px;
}
.timetable .mobile-view li span {
  float: right;
  margin-left: 10px;
  font-size: 12px;
  color: #7c7c7c;
}
@media screen and (max-width: 1190px) { /* laptop */
  .page-header.main-page:after{
    margin-right:-496px;
  }
  .timetable .filter {
    width: 220px;
  }
  .timetable .month-view .title {
    padding: 35px 15px 15px 15px;
  }
  .timetable .month-view .date {
    width: 30px;
    height: 30px;
    line-height: 30px;
  }
  .timetable .month-view .details {
    padding: 15px;
  }
  .timetable .month-view .popup p {
    padding: 0 15px 15px;
  }
  .timetable .month-view .popup .title {
    padding-top: 35px;
  }
  .timetable .week-view th span {
    display: none;
  }
  .timetable .week-view .title {
    padding: 15px;
  }
  .timetable .week-view .details {
    padding: 15px;
  }
  .timetable .week-view .popup p {
    padding: 0 15px 15px;
  }
}
@media screen and (max-width: 980px) { /* pad */
  .page-header.main-page:after{
    margin-right:-395px;
  }
  .timetable .filter {
    width: 171px;
  }
  .timetable .month-view th,
  .timetable .month-view td {
    font-size: 11px;
    line-height: 14px;
  }
  .timetable .month-view .title {
    padding: 20px 10px 10px 10px;
    font-size: 11px;
    line-height: 15px;
  }
  .timetable .month-view .date {
    width: 20px;
    height: 20px;
    font-size: 10px;
    line-height: 20px;
  }
  .timetable .month-view .details {
    padding: 10px;
  }
  .timetable .month-view .popup p {
    padding: 0 10px 10px;
  }
  .timetable .month-view .popup .title {
    padding-top: 20px;
  }
  .timetable .week-view th,
  .timetable .week-view td {
    width: 14.14%;
    font-size: 11px;
    line-height: 14px;
  }
  .timetable .week-view th:first-child,
  .timetable .week-view td:first-child {
    width: 1%;
    padding: 0 5px;
  }
  .timetable .week-view .title {
    padding: 10px;
  }
  .timetable .week-view .details {
    padding: 10px;
  }
  .timetable .week-view .popup p {
    padding: 0 10px 10px;
  }
}
@media screen and (max-width: 767px) { /* phone */
  .page-header.main-page:after{
    display:none;
  }
  .timetable header {
    height: auto;
  }
  .timetable .year {
    position: static;
    width: auto;
    line-height: 48px;
  }
  .timetable .month {
    padding-top: 20px;
  }
  .timetable .switcher {
    position: static;
    width: auto;
    margin-top: 20px;
    padding: 15px 0;
  }
  .timetable .month-view,
  .timetable .week-view,
  .timetable .list-view {
    display: none;
  }
  .timetable .mobile-view {
    display: block;
  }
}
@media screen and (max-width: 479px) { /* mini phone */
  .timetable .filter {
    float: none;
    margin: 0 0 20px;
    width: 100%;
  }
  .timetable .day {
    width: auto;
    margin-right: 48px;
    margin-left: 48px;
  }
}


/**/
/* map */
/**/
.map .filter {
  float: right;
  width: 270px;
  height: 30px;
  margin-top: -50px;
  padding-top: 4px;
  padding-bottom: 4px;
}
.map .google-map {
  height: 400px;
}
@media screen and (max-width: 1190px) { /* laptop */
  .map .filter {
    width: 220px;
  }
}
@media screen and (max-width: 980px) { /* pad */
  .map .filter {
    width: 171px;
  }
}
@media screen and (max-width: 479px) { /* mini phone */
  .map .filter {
    float: none;
    margin: 0 0 20px;
    width: 100%;
  }
}


/**/
/* feedback */
/**/
.feedback p {
  margin-bottom: 20px;
  line-height: 22px;
}
.feedback label {
  display: block;
  margin-bottom: 5px;
  line-height: 1;
  color: #000;
}
.feedback .input {
  float: left;
  width: 420px;
  margin: 0 0 20px 30px;
}
.feedback .input:first-child {
  margin-left: 0;
}
.feedback textarea {
  margin-bottom: 20px;
}
@media screen and (max-width: 1190px) { /* laptop */
  .feedback .input {
    width: 340px;
    margin-left: 20px;
  }
}
@media screen and (max-width: 980px) { /* pad */
  .feedback .input {
    width: 265px;
    margin-left: 18px;
  }
}
@media screen and (max-width: 767px) { /* phone */
  .feedback .input {
    float: none;
    width: 100%;
    margin-left: 0;
  }
}



/*----------------------------------------------------------------------------*/
/*                                  ELEMENTS                                  */
/*----------------------------------------------------------------------------*/

/**/
/* text */
/**/
.wpb_text_column h1{
  font-weight:700 !important;
  color:#000 !important;
  margin-bottom:0.5em !important;
}
.vc_row-fluid,
.wpb_content_element {
  margin-bottom: 50px;
}
.wpb_text_column ul li {
  position: relative;
  margin-top: 10px;
  padding-left: 24px;
  line-height: 22px;
}
.wpb_text_column ul li:before {
  content: "\f00c";
  position: absolute;
  top: 1px;
  left: 0;
  width: 19px;
  height: 19px;
  font: 14px/20px FontAwesome;
  text-align: center;
  color: #fff;
}
.wpb_text_column ul li:first-child {
  margin-top: 0;
}
.wpb_text_column .ul2 li:before {
  content: "\f0c1";
}
.wpb_text_column .ul3 li:before {
  content: "\f067";
}
.wpb_text_column .alignleft {
  float: left;
  margin: 0 20px 10px 0;
  padding: 3px;
  border: 1px solid #e4e4e4;
}


/**/
/* accordion */
/**/
.wpb_accordion .wpb_accordion_wrapper .ui-state-default .ui-icon,
.wpb_accordion .wpb_accordion_wrapper .ui-state-active .ui-icon {
  display: none;
}
.wpb_accordion .wpb_accordion_wrapper .wpb_accordion_section {
  margin-top: -1px;
  border: 1px solid #e3e3e3;
}
.wpb_accordion .wpb_accordion_wrapper .wpb_accordion_section:first-child {
  margin-top: 0;
}
.wpb_accordion .wpb_accordion_wrapper .wpb_accordion_header {
  position: relative;
  margin: 0;
  background: none;
}
.wpb_accordion .wpb_accordion_wrapper .wpb_accordion_header a {
  position: relative;
  padding: 11px 38px 11px 20px;
  font-size: 16px;
  line-height: 24px;
  color: #000;
}
.wpb_accordion .wpb_accordion_wrapper .wpb_accordion_header a:after,
.wpb_accordion .wpb_accordion_wrapper .wpb_accordion_header a:before {
  content: '';
  position: absolute;
  top: 50%;
  right: 13px;
  width: 12px;
  height: 4px;
  margin-top: -2px;
}
.wpb_accordion .wpb_accordion_wrapper .wpb_accordion_header a:before {
  right: 17px;
  width: 4px;
  height: 12px;
  margin-top: -6px;
}
.wpb_accordion .wpb_accordion_wrapper .ui-state-active a:before {
  display: none;
}
.wpb_accordion .wpb_accordion_wrapper .wpb_accordion_content {
  padding: 0 20px 20px 20px;
}
.wpb_accordion.wpb_accordion_alt .wpb_accordion_wrapper .wpb_accordion_content {
  padding: 20px;
}
.wpb_accordion.wpb_accordion_alt .wpb_accordion_wrapper .ui-state-active a:after {
  background: #fff;
}


/**/
/* buttons */
/**/
.wpb_button { 
  position: relative;
  display: inline-block;
  padding: 11px 21px;
  border-width: 3px;
  border-style: solid;
  border-radius: 0;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  text-shadow: none;
  text-transform: uppercase;
  color: #fff;
  -ms-box-sizing:border-box;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-transition: border 0.3s, background 0.3s, color 0.3s;
  -ms-transition: border 0.3s, background 0.3s, color 0.3s;
  -moz-transition: border 0.3s, background 0.3s, color 0.3s;
  -webkit-transition: border 0.3s, background 0.3s, color 0.3s;
}
.wpb_button:hover {
  background: #fff;
}
.wpb_button.wpb_btn-alt {
  background: #fff;
}
.wpb_button.wpb_btn-large {
  padding: 15px 25px;
  border-radius: 0;
  font-size: 18px;
  line-height: 24px;
}
.wpb_button.wpb_btn-rounded {
  border-radius: 5px;
}
.wpb_button.wpb_btn-arrow-right:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 100%;
  margin: -5px 0 0 3px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left-width: 5px;
  border-left-style: solid;
}


/**/
/* callout */
/**/
.callout {
  position: relative;
  min-height: 50px;
  padding: 23px 23px 23px 130px;
  background: #f5f5f5;
  text-align: left;
}
.callout-content, .callout-button{
  display:inline-block;
  vertical-align: middle;
  font-size:medium;
}
.callout-wrapper, .wpb_call_to_action{
  font-size:0;
}
.callout-content{
  width:70%;
  padding-right:10px;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  -ms-box-sizing:border-box;
  box-sizing:border;
}
.callout-button{
  text-align: right;
  width:30%;
}
.callout-button .button{
  vertical-align:middle;
/*  word-break:break-all;*/
}
.callout .title {
  margin-bottom: 8px;
  font-size: 30px;
  line-height: 34px;
}
.callout .subtitle {
  font-size: 16px;
  line-height: 22px;
  color: #000;
}
.callout .icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 110px;
  height: 110px;
  font-size: 54px;
  line-height: 110px;
  text-align: center;
  text-shadow: 1px 1px 0 rgba(0,0,0,0.15);
  color: #fff;
}
.callout .icon:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
}
.callout .icon i {
  position: relative;
}
.wpb_call_to_action {
  padding: 30px;
  border: 0;
  color: #fff;
}
@media screen and (max-width:767px){
  .wpb_call_to_action, .callout{
    padding:20px;
  }
  .callout .icon, .wpb_call_to_action .icon{
    display: none;
  }
}

@media screen and (max-width:479px){
  .callout-content, .callout-button{
    display:block;
    width:100%;
    text-align: center
  }
  .callout-button{
    padding-top:20px;
 }
}


.wpb_call_to_action .wpb_button, .detailed-services .wpb_button {
  max-width: none;
  padding: 11px 21px;
  border: 3px solid #fff;
  border-radius: 0;
  background: #fff;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  text-transform: uppercase;
  color: #000;  
}
.wpb_call_to_action .wpb_button:hover, .detailed-services .wpb_button:hover {
  color: #008fd5;
}
.wpb_call_to_action .wpb_call_text {
  padding-top: 5px;
  font-size: 30px;
  line-height: 40px;  
}


/**/
/* capitalized */
/**/
.capitalized:first-letter {
  display: block;
  float: left;
  width: 32px;
  height: 32px;
  margin: 5px 10px 0 0;
  font-size: 28px;
  line-height: 32px;
  text-align: center;
  color: #fff;
}


/**/
/* chart graph */
/**/
.chart-graph {
  position: relative;
  width: 100%;
  height: 250px;
  overflow: hidden;
  font-size: 12px;
  line-height: 1.2em; 
}
.pieLabel div {
  font-size: 18px !important;
  line-height: 0 !important;
  font-weight: 700 !important;
  color: #fff !important;
}


/**/
/* dividers */
/**/
.vc_text_separator {
  height: 0;
  margin: 35px 0;
  border-bottom: 1px solid #e3e3e3;
}
.vc_text_separator3 {
  border-bottom-style: dashed;
}


/**/
/* icons */
/**/
.soc-icon {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-bottom: 5px;
  border-width: 3px;
  border-style: solid;
  font-size: 24px;
  line-height: 40px;
  text-align: center;
  color: #fff;
}
.soc-icon:hover {
  background: #fff;
}
.soc-icon.soc-icon-alt {
  background: #fff;
}
.soc-icon.soc-icon-alt:hover {
  color: #fff;
}


/**/
/* messages */
/**/
.wpb_alert {
  position: relative;
  padding: 9px 10px 9px 75px;
  border: 0;
  border-radius: 0;
  background: #eb9605;
  text-shadow: none;
  color: #fff;
}
.wpb_alert:after {
  content: "\f0e7";
  position: absolute;
  top: 50%;
  left: 0;
  width: 60px;
  height: 60px;
  margin-top: -30px;
  font: 30px/60px FontAwesome;
  text-align: center;
  text-shadow: 1px 1px 0 rgba(0,0,0,0.15);
  color: #fff;
}
.wpb_alert:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 60px;
  background: rgba(255,255,255,0.2);
}
.wpb_alert .messagebox_text {
  padding: 0;
  background: none;
}
.wpb_alert .messagebox_text h1 {
  font-size: 18px;
  line-height: 22px;
}
.wpb_alert h1{
  font-size: 18px;
  line-height: 22px;  
}
.wpb_alert .messagebox_text p {
  line-height: 20px;
}
.wpb_alert_info {
  background: #5fbcea;
}
.wpb_alert_info:after {
  content: "\f05a";
}
.wpb_alert_error {
  background: #fe4e50;
}
.wpb_alert_error:after {
  content: "\f05e";
}
.wpb_alert_confirm {
  background: #00b85d;
}
.wpb_alert_confirm:after {
  content: "\f00c";
}
.wpb_alert_alt {
  background: #efefef;
  color: #7c7c7c;
}
.wpb_alert_alt:after {
  text-shadow: none;
  color: #eb9605;
}
.wpb_alert_alt:before {
  background: none;
  box-shadow: inset 0 0 0 1px #eb9605;
}
.wpb_alert_alt .messagebox_text h1 {
  color: #eb9605;
}
.wpb_alert_alt_info:after {
  content: "\f05a";
  color: #5fbcea;
}
.wpb_alert_alt_info:before {
  box-shadow: inset 0 0 0 1px #5fbcea;
}
.wpb_alert_alt_info .messagebox_text h1 {
  color: #5fbcea;
}
.wpb_alert_alt_error:after {
  content: "\f05e";
  color: #fe4e50;
}
.wpb_alert_alt_error:before {
  box-shadow: inset 0 0 0 1px #fe4e50;
}
.wpb_alert_alt_error .messagebox_text h1 {
  color: #fe4e50;
}
.wpb_alert_alt_confirm:after {
  content: "\f00c";
  color: #00b85d;
}
.wpb_alert_alt_confirm:before {
  box-shadow: inset 0 0 0 1px #00b85d;
}
.wpb_alert_alt_confirm .messagebox_text h1 {
  color: #00b85d;
}


/**/
/* milestone */
/**/
.milestone {
  line-height: 22px;
  color: #000;
}
.milestone .icon {
  position: relative;
  float: left;
  width: 110px;
  height: 110px;
  margin-right: 20px;
  font-size: 60px;
  line-height: 110px;
  text-align: center;
  text-shadow: 1px 1px 0 rgba(0,0,0,0.15);
  color: #fff;  
}
.milestone .icon:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
}
.milestone .icon i {
  position: relative;
  z-index: 1;
}
.milestone .title {
  padding-top: 25px;
  font-size: 38px;
  line-height: 38px;
}
.milestone-alt .icon {
  text-shadow: none;
}
.milestone-alt .icon:after {
  content: '';
  position: absolute;
  top: 5px;
  right: 5px;
  bottom: 5px;
  left: 5px;
  background: #fff;
}


/**/
/* pricing table */
/**/
.pricing-table .col {
  display: inline-block;
  vertical-align: top;
  box-shadow: 0 0 0 1px #fff;
  text-align: center;
  border-right:1px solid #fff;
  border-bottom:1px solid #fff;
  box-sizing:border-box;
  -ms-box-sizing:border-box;
  -moz-box-sizing:border-box;
}
.pricing-table .col-4 {
  width: 25%;
  background: #f4f4f4;
}
.pricing-table .head {
  padding: 20px 0;
  font-size: 13px;
  line-height: 18px;
  color: #fff;
}
.pricing-table .head span {
  display: block;
  font-size: 28px;
  line-height: 28px;
}
.pricing-table .price {
  position: relative;
  padding: 30px 0 25px;
  font-size: 70px;
  line-height: 50px;
  background: #fff;
}
.pricing-table .price div {
  display: inline-block;
  margin-left: -14px;
}
.pricing-table .price sup {
  vertical-align: top;
  font-size: 24px;
  line-height: 1;
}
.pricing-table .price span {
  display: block;
  margin-top: 5px;
  padding-right: 4px;
  font-size: 18px;
  line-height: 18px;
  text-align: right;
}
.pricing-table .join {
  padding:0 !important;
  width:100% !important;
  -moz-box-sizing:border-box;
  -ms-box-sizing:border-box;
  box-sizing:border-box;
}
.pricing-table .col:hover .join{
  border-right:0 !important;
}
.pricing-table .join button:hover{
  color:#fff;
}
.pricing-table .join button{
  margin:0 !important;
  width:100% !important;
  height:100% !important;
  border:0 !important;
}
.pricing-table .col:hover .summary{
  background:#fff !important;
  color:#000 !important;
}
.pricing-table .listing {
  padding-top: 30px;
  line-height: 20px;
}
.pricing-table .listing li {
  padding: 4px 15px;
  border-bottom: 1px solid #e1e1e1;
  text-align: left;
}
.pricing-table .listing i {
  display: block;
  float: left;
  width: 14px;
  margin-right: 10px;
  line-height: 20px;
  text-align: center;
}
.pricing-table .summary {
  padding: 20px 10px;
  font-size: 13px;
  line-height: 16px;
}
.pricing-table .col:hover {
  position: relative;
  z-index: 1;
  background: #fff;
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
  -o-transform: scale(1.06);
  -ms-transform: scale(1.06);
  -moz-transform: scale(1.06);
  -webkit-transform: scale(1.06);
}
.pricing-table .col:hover .price {
  text-shadow: 1px 1px 0 rgba(0,0,0,0.15);
  color: #fff;  
}
.pricing-table .col:hover .price .join {
  display: block;
}
.pricing-table .col:hover .listing li {
  color: #000;
}
.pricing-table .col:hover .summary {
  color: #fff;
}
.pricing-table .head-first {
  padding: 62px 0 61px;
  border-bottom: 1px solid #fff;
  font-size: 28px;
  line-height: 30px;
}
.pricing-table .listing-first {
  padding-top: 30px;
  line-height: 20px;
}
.pricing-table .listing-first li {
  position: relative;
  padding: 4px 15px 4px 20px;
  border-bottom: 1px solid #e1e1e1;
  text-align: left;
  color: #000;
}
.pricing-table .listing-first li:before {
  content: '';
  position: absolute;
  top: 12px;
  left: 10px;
  width: 4px;
  height: 4px;
}
.pricing-table .summary-first {
  padding: 20px 10px;
  font-size: 13px;
  line-height: 16px;
  color: transparent;
}
.pricing-table .col-first:hover {
  background: #f4f4f4;
  box-shadow: none;
  -o-transform: scale(1);
  -ms-transform: scale(1);
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
}
@media screen and (max-width: 980px) { /* pad */
  .pricing-table .col-4 {
    width: 50%;
  }
}
@media screen and (max-width: 479px) { /* mini phone */
  .pricing-table .col-4 {
    width: 100%;
  }
}


/**/
/* progress bar */
/**/
.vc_progress_bar .vc_single_bar {
  position: relative;
  height: 20px;
  margin: 0 0 45px 190px;
  padding: 0;
  border-radius: 0;
  background: #efefef;
  box-shadow: none;
}
.vc_progress_bar .vc_single_bar .vc_bar {
  position: static;
  border-radius: 0;
  background-image: url(../img/progress-bar.png) !important;
}
.vc_progress_bar .vc_single_bar .vc_bar em {
  position: absolute;
  bottom: 100%;
  width: 32px;
  margin: 0 0 5px -16px;
  font-size: 12px;
  line-height: 32px;
  text-align: center;
  color: #fff;
}
.vc_progress_bar .vc_single_bar .vc_bar em:after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -4px;
  border-top-width: 4px;
  border-top-style: solid;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}
.vc_progress_bar .vc_single_bar .vc_label {
  position: absolute;
  top: 0;
  left: -190px;
  width: 190px;
  overflow: hidden; 
  padding: 0;
  font-size: 16px;
  line-height: 20px;
  text-shadow: none !important;
  color: #7c7c7c !important;
}
.vc_progress_bar.vc_progress_bar_alt {
  padding: 20px;
  background: #efefef;
}
.vc_progress_bar.vc_progress_bar_alt .vc_single_bar {
  height: 13px;
  margin-left: 170px;
  background: #fff;
  box-shadow: inset 0 0 0 1px #e4e4e4;
}
.vc_progress_bar.vc_progress_bar_alt .vc_single_bar:after {
  content: '';
  position: absolute;
  top: 100%;
  right: -20px;
  left: -190px;
  height: 5px;
  margin-top: 20px;
  background: #fff;
}
.vc_progress_bar.vc_progress_bar_alt .vc_single_bar:last-child:after {
  display: none;
}
.vc_progress_bar.vc_progress_bar_alt .vc_single_bar .vc_bar {
  height: 13px;
}
.vc_progress_bar.vc_progress_bar_alt .vc_single_bar .vc_bar em {
  margin-bottom: 0;
  background: none;
  line-height: 20px;
}
.vc_progress_bar.vc_progress_bar_alt .vc_single_bar .vc_bar em:after {
  display: none;
} 
.vc_progress_bar.vc_progress_bar_alt .vc_single_bar .vc_label {
  left: -170px;
  width: 170px;
  font-size: 13px;
  line-height: 13px;
}


/**/
/* services */
/**/
.detailed-services dt { 
  position: relative;
  margin-bottom: -1px;
  padding: 11px 38px 11px 61px;
  border: 1px solid #e3e3e3;
  font-size: 16px;
  line-height: 24px;
  color: #000;
  cursor: pointer;
}
.detailed-services dt:after,
.detailed-services dt:before {
  content: '';
  position: absolute;
  top: 50%;
  right: 13px;
  width: 12px;
  height: 4px;
  margin-top: -2px;
}
.detailed-services dt:before {
  right: 17px;
  width: 4px;
  height: 12px;
  margin-top: -6px;
}
.detailed-services dt.opened {
  font-weight: 700;
}
.detailed-services dt.opened:before {
  display: none;
}
.detailed-services dt.opened i:after {
  display: none;
}
.detailed-services dt i {
  position: absolute;
  z-index: 1;
  top: -1px;
  left: -1px;
  width: 48px;
  height: 48px;
  font-size: 24px;
  line-height: 48px;
  text-align: center;
  color: #fff;
}
.detailed-services dt i:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 100%;
  margin-top: -4px;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-left-width: 4px;
  border-left-style: solid; 
}
.detailed-services dd {
  display: none;
  margin-bottom: -1px;
}
.detailed-services .row {
  padding: 15px 0;
  border: 1px solid #e3e3e3;
  background: #f5f5f5;
}
.detailed-services .col {
  display: inline-block;
  vertical-align: top;
  width: 33.33%;
  margin: 20px 0;
  padding: 0 40px;
  border-left: 1px solid #e3e3e3;
  -ms-box-sizing:border-box;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.detailed-services .col:first-child {
  border-left: 0;
}
.detailed-services .col li {
  position: relative;
  margin-top: 16px;
  line-height: 20px;
}
.detailed-services .col li:before {
  content: '';
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  width: 100%;
  height: 1px;
  background: #e3e3e3;
}
.detailed-services .col li:first-child {
  margin-top: 0;
  font-size: 13px;
  text-transform: uppercase;
  color: #000;
}
.detailed-services .col li:first-child:before {
  display: none;
}
.detailed-services .col li:last-child {
  text-align: right;
}
.detailed-services .col li:last-child:before {
  display: none;
}
.detailed-services .col li span {
  position: relative;
  float: right;
  padding-left: 5px;
  background: #f5f5f5;
  color: #000;
}
.detailed-services .col li strong {
  position: relative;
  padding-right: 5px;
  background: #f5f5f5;
}
.detailed-services .details {
  padding: 20px 20px 20px 48px;
  color: #fff;
}
.detailed-services .details ul {
  float: left;
  width: 200px;
  margin-right: 30px;
  margin-top:11px;
  margin-bottom:11px;
  border-right: 1px solid rgba(255,255,255,0.3);
  font-size: 13px;
  line-height: 21px;
}
.detailed-services .details ul:last-of-type {
  margin-right: 0;
  border-right: 0;
}
.detailed-services .details li {
  margin-top: 5px;  
}
.detailed-services .details li:first-child {
  margin-top: 0;
  font-weight: 700;
}
.detailed-services .details img {
  display: block;
  float: left;
  border: 3px solid #fff;
  margin-right: 35px;
}

/*****************************************************/
.detailed-services .call-to{
  float:right;
  margin-top:11px;
  width:150px;
}
@media screen and (max-width:960px){
  .detailed-services .details>div{
    padding:0;
  }
  .detailed-services .wpb_button_a{
    position:static;
    width:auto;
  }
  .detailed-services .wpb_button_a .wpb_button{
    float:none !important;
    position:static;
    margin-top:20px;
    display:inline-block;
  }
}
/*****************************************************/

.services-wide ul {
  margin: 0;
}
.services-wide li {
  display: block;
  width: auto;
  min-height: 90px;
  margin: 30px 0 0 0;
  padding-bottom: 30px;
}
@media screen and (max-width: 1190px) { /* laptop */
  .detailed-services .col {
    padding: 0 30px;
  }
  .detailed-services .col li:before {
    display: none;
  }
  .detailed-services .details ul {
    width: 180px;
  }
  .detailed-services .details img {
    margin-right: 25px;
  }
}
@media screen and (max-width: 980px) { /* pad */
  .detailed-services .col {
    padding: 0 20px;
  }
  .detailed-services .details ul {
    width: 200px;
    margin-right: 4%;
  }
  .detailed-services .details img {
    display: none;
  }
}
@media screen and (max-width: 767px) { /* phone */
  .detailed-services .col {
    width: 100%;
    border: 0;
  }
  .detailed-services .col li:before {
    display: block;
  }
  .detailed-services .col li span {
    display: block;
  }
  .detailed-services .details ul {
    width: 100%;
    margin:0;
    padding:10px 0;
    border-right:0;
    border-bottom: 1px solid rgba(255,255,255,0.3);
  }
  .detailed-services .details ul:first-of-type{
    padding-top:0;
  }
  .detailed-services .details ul:last-of-type{
    border-bottom:0;
  }
  .detailed-services .details ul:last-child {
    border-bottom: 0;
  }
}


/**/
/* tabs */
/**/
.wpb_tabs .wpb_tabs_nav li {
  margin: 0;
  font-size: 13px;
  line-height: 41px;
  text-transform: uppercase;
}
.wpb_tabs .wpb_tabs_nav li a {
  padding: 0 20px !important;
  background: #efefef;
  color: #000;
}
.wpb_tabs .wpb_tabs_nav li.ui-tabs-active a {
  color: #fff;
}
.wpb_tabs .wpb_tour_tabs_wrapper .wpb_tab {
  padding: 19px;
  border: 1px solid #e3e3e3;
  background: none !important;
}
.wpb_tabs.wpb_tabs_alt .wpb_tabs_nav li {
  margin-right: -1px;
}
.wpb_tabs.wpb_tabs_alt .wpb_tabs_nav li a {
  position: relative;
  border-width: 1px;
  border-style: solid;
  border-bottom: 0;
  background: #fff;
}
.wpb_tabs.wpb_tabs_alt .wpb_tabs_nav li.ui-tabs-active a:after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-top-width: 5px;
  border-top-style: solid;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
}
.wpb_tour .wpb_tabs_nav {
  margin-right: -1px;
  border-width: 1px;
  border-style: solid;
  -ms-box-sizing:border-box;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.wpb_tour .wpb_tabs_nav li {
  margin: 0 0 1px 0;
}
.wpb_tour .wpb_tabs_nav li:last-child {
  margin-bottom: 0;
}
.wpb_tour .wpb_tabs_nav li a {
  padding: 10px 0 !important;
  text-align: center;
  color: #fff;
}
.wpb_tour .wpb_tabs_nav li.ui-tabs-active a {
  position: relative;
  z-index: 1;
  background: #fff;
  color: #000;
}
.wpb_tour .wpb_tabs_nav li.ui-tabs-active a:after {
  content: '';
  position: absolute;
  top: -1px;
  bottom: -1px;
  left: 100%;
  width: 1px;
  background: #fff;
}
.wpb_tour .wpb_tabs_nav li.ui-tabs-active:first-child a:after {
  top: 0;
}
.wpb_tour .wpb_tour_tabs_wrapper .wpb_tab {
  padding: 19px;
  border-width: 1px;
  border-style: solid;
}

@media screen and (min-resolution:300dpi) and (max-width:1137px){
  .wpb_tabs li[role="tab"]{
    display:block;
    width:100%;
    text-align:center;
  }
}

@media screen and (max-width:767px){
  .wpb_tabs li[role="tab"]{
    display:block;
    width:100%;
    text-align:center;
  }
}

/**/
/* testimonials */
/**/
.testimonial {
  position: relative;
  padding: 35px 35px 0;
  border-width: 1px;
  border-style: solid; 
  border-bottom: 0;
}
.testimonial:after,
.testimonial:before {
  position: absolute;
  width: 50px;
  height: 50px;
  font: 700 72px/82px Arial;
  text-align: center;
  color: #fff;
}
.testimonial:after {
  content: '\201c';
  right: -1px;
  bottom: 0;
}
.testimonial:before {
  content: '\201d';
  top: -1px;
  left: -1px;
}
.testimonial p {
  font-size: 13px;
  line-height: 20px;
}
.testimonial img {
  display: block;
  float: left;
  margin-right: 20px;
  padding: 1px;
  border: 1px solid #e3e3e3;
}
.testimonial .author {
  position: relative;
  margin: 35px -35px 0;
  padding: 15px 65px 15px 35px;
  font-style: italic;
  font-size: 18px;
  line-height: 20px;
  color: #fff;
}
.testimonial .author:before {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -10px;
  border-top-width: 10px;
  border-top-style: solid;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
}
.testimonial-alt {
  padding-top: 50px;
  text-align: center;
}
.testimonial-alt:after {
  display: none;
}
.testimonial-alt:before {
  left: 50%;
  width: 40px;
  height: 40px;
  margin-left: -20px;
  font-size: 60px;
  line-height: 70px;
}
.testimonial-alt .author {
  margin-top: 20px;
}


/**/
/* toggles */
/**/
.wpb_toggle {
  position: relative;
  padding: 11px 20px 11px 42px;
  border: 1px solid #e3e3e3;
  border-bottom: 0;
  background: none;
  font-size: 16px;
  line-height: 24px;
  color: #000;
}
.wpb_toggle:after,
.wpb_toggle:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 13px;
  width: 12px;
  height: 4px;
  margin-top: -2px;
}
.wpb_toggle:before {
  left: 17px;
  width: 4px;
  height: 12px;
  margin-top: -6px;
}
.wpb_toggle.wpb_toggle_title_active:before {
  display: none;
}
.wpb_toggle_content + .wpb_toggle {
  margin-top: -1px; 
}
.wpb_toggle_content {
  margin: 0;
  padding: 0 20px 20px 42px;
  border: 1px solid #e3e3e3;
  border-top: 0;  
}
.last_toggle_el_margin {
  margin-top: -1px;
  border-top: 1px solid #e3e3e3;
}
.wpb_toggle_alt {
  -o-transition: background 0.3s, color 0.3s;
  -ms-transition: background 0.3s, color 0.3s;
  -moz-transition: background 0.3s, color 0.3s;
  -webkit-transition: background 0.3s, color 0.3s;  
}
.wpb_toggle_alt:after {
  height: 2px;
  margin-top: -1px;
}
.wpb_toggle_alt:before {
  left: 18px;
  width: 2px;
}
.wpb_toggle_alt.wpb_toggle_title_active,
.wpb_toggle_alt.wpb_toggle_title_active:hover {
  color: #fff;
}
.wpb_toggle_alt.wpb_toggle_title_active:after,
.wpb_toggle_alt.wpb_toggle_title_active:before {
  background: #fff;
}
.wpb_toggle_content_alt {
  -o-transition: background 0.3s, color 0.3s;
  -ms-transition: background 0.3s, color 0.3s;
  -moz-transition: background 0.3s, color 0.3s;
  -webkit-transition: background 0.3s, color 0.3s;  
}
.wpb_toggle_alt.wpb_toggle_title_active + .wpb_toggle_content_alt {
  color: #fff;
}


/**/
/* latest-tweets */
/**/
.latest-tweets li {
  margin-top: 30px;
  font-size: 13px;
  line-height: 20px;
}
.latest-tweets li:first-child {
  margin-top: 0;
}
.latest-tweets p {
  overflow: hidden;
}

.latest-tweets .pic {
  position: relative;
  display: block;
  float: left;
  width: 56px;
  height: 56px;
  margin: 2px 15px 0 0;
  font-size: 28px;
  line-height: 56px;
  text-align: center;
  text-shadow: 1px 1px 0 rgba(0,0,0,0.1);
  color: #fff;
}
.latest-tweets .pic:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
}
.latest-tweets .pic i {
  position: relative;
}
.latest-tweets-alt .pic { 
  text-shadow: none;
}
.latest-tweets-alt .pic:after {
  content: '';
  position: absolute;
  top: 4px;
  right: 4px;
  bottom: 4px;
  left: 4px;
  background: #fff;
}
.latest-tweets-alt .pic i {
  z-index: 1; 
}




/*----------------------------------------------------------------------------*/
/*                                   WIDGETS                                  */
/*----------------------------------------------------------------------------*/

/**/
/* widget */
/**/
.widget + .widget {
  margin-top: 50px;
}
.widget-title {
  margin-bottom: 20px;
  padding-left: 7px;
  border-left-width: 3px;
  border-left-style: solid;
  font-size: 26px;
  line-height: 30px;
  color: #000;
}


/**/
/* site search */
/**/
.widget-site-search {
  position: relative;
}
.widget-site-search .button {
  position: absolute;
  width: 40px;
  padding: 6px 0;
  top: 0;
  right: 0;
}
.widget-site-search .button:after {
  content: '';
  position: absolute;
  top: 13px;
  right: 100%;
  margin-right: 3px;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-right-width: 4px;
  border-right-style: solid;
}


/**/
/* sevices */
/**/
.widget-sevices li {
  position: relative;
  border-bottom: 1px solid #e3e3e3;
  font-size: 16px;
  line-height: 24px;
}
.widget-sevices li:first-child {
  border-top: 1px solid #e3e3e3;  
}
.widget-sevices i {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 18px;
  line-height: 50px;
}
.widget-sevices a {
  position: relative;
  display: inline-block;
  padding: 12px 14px 12px 28px;
  color: #000;
}
.widget-sevices a i {
  left: 100%;
}


/**/
/* comments */
/**/
.widget-comments li {
  min-height: 80px;
  margin-top: 30px;
  font-size: 13px;
  line-height: 20px;
}
.widget-comments li:first-child {
  margin-top: 0;
}
.widget-comments p {
  overflow: hidden;
}
.widget-comments img {
  position: relative;
  display: block;
  float: left;
  width: 76px;
  height: 76px;
  margin-right: 15px;
  padding: 1px;
  border: 1px solid #e4e4e4;
}
.widget-comments .date {
  color: #000;
}
@media screen and (max-width: 980px) { /* pad */
  .widget-comments img {
    display: none;
  }
}
@media screen and (max-width: 767px) { /* phone */
  .widget-comments img {
    display: block;
  }
}


/**/
/* departments */
/**/
.widget-departments dl {
  border: 1px solid #e3e3e3;
  border-top: 0;
}
.widget-departments dt {
  position: relative;
  padding: 9px 38px 9px 56px;
  border-top: 1px solid #e3e3e3;
  font-size: 16px;
  line-height: 24px;
  color: #000;
  cursor: pointer;
}
.widget-departments dt:after,
.widget-departments dt:before {
  content: '';
  position: absolute;
  top: 50%;
  right: 13px;
  width: 12px;
  height: 4px;
  margin-top: -2px;
  background: #cbcbcb;
}
.widget-departments dt:before {
  right: 17px;
  width: 4px;
  height: 12px;
  margin-top: -6px;
}
.widget-departments dt.opened:before {
  display: none;
}
.widget-departments dt i {
  position: absolute;
  z-index: 1;
  top: -1px;
  left: -1px;
  width: 42px;
  height: 43px;
  font-size: 24px;
  line-height: 44px;
  text-align: center;
  color: #fff;
}
.widget-departments dt i:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 100%;
  margin-top: -4px;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-left-width: 4px;
  border-left-style: solid; 
}
.widget-departments dd {
  display: none;
  padding: 2px 38px 10px 56px;
}


/**/
/* appointment */
/**/
.widget-appointment i,i.appointment{
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  font-size: 24px;
  line-height: 50px;
  text-align: center;
  color: #fff;
}
i.appointment{
  position:relative;
  margin-right:5px;
  margin-bottom:5px;
}
.widget-appointment i:after,i.appointment:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 100%;
  margin-top: -4px;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-left-width: 4px;
  border-left-style: solid; 
}
.widget-appointment input,
.widget-appointment textarea {
  height: 50px;
  padding: 13px 10px 13px 65px;
}

.widget-appointment .captcha-wrapper input{
  padding: 13px 6px;
}

.widget-appointment textarea {
  height: auto;
}
.widget-appointment .row {
  position: relative;
  margin-bottom: -1px;
}


/**/
/* text */
/**/
.widget-text p {
  margin-top: 20px;
}
.widget-text strong {
  color: #000;
}


/**/
/* twitter */
/**/
.widget-twitter li {
  margin-top: 30px;
  font-size: 13px;
  line-height: 20px;
}
.widget-twitter li:first-child {
  margin-top: 0;
}
.widget-twitter p {
  overflow: hidden;
}
.widget-twitter .date {
  color: #000;
}
.widget-twitter .pic {
  position: relative;
  display: block;
  float: left;
  width: 56px;
  height: 56px;
  margin: 2px 15px 0 0;
  font-size: 28px;
  line-height: 56px;
  text-align: center;
  text-shadow: 1px 1px 0 rgba(0,0,0,0.1);
  color: #fff;
}
.widget-twitter .pic:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
}
.widget-twitter .pic i {
  position: relative;
}
.widget-twitter-alt .pic {
  float: none;
  width: 82px;
  height: 82px;
  margin: 0 auto 15px;
  font-size: 40px;
  line-height: 82px;
  text-shadow: none;
}
.widget-twitter-alt .pic:after {
  content: '';
  position: absolute;
  top: 4px;
  right: 4px;
  bottom: 4px;
  left: 4px;
  background: #fff;
}
.widget-twitter-alt .pic i {
  z-index: 1;
}
.widget-twitter-alt .item {
  text-align: center;
}
.widget-twitter-alt .owl-controls {
  left: 0;
  margin-bottom: 25px;
}
.widget-twitter-alt .owl-buttons i {
  font-size: 30px;
  line-height: 60px;
}
.widget-twitter-alt .owl-buttons div {
  width: 62px;
  height: 62px;
  margin: 0;
}
.widget-twitter-alt .owl-buttons .owl-next {
  float: right;
}
#latest-tweets-carousel2 p{
  text-align: center !important;
}



/**/
/* archives */
/**/
.widget-archives li {
  margin-bottom: -1px;
  border: 1px solid #e3e3e3;
  font-size: 16px;
  line-height: 24px;
}
.widget-archives li:last-child {
  margin-bottom: 0;
}
.widget-archives a {
  position: relative;
  display: block;
  padding: 12px 10px 12px 64px;
  color: #000;
}
.widget-archives i {
  position: absolute;
  z-index: 1;
  top: -1px;
  bottom: -1px;
  left: -1px;
  width: 50px;
  font-size: 20px;
  line-height: 50px;
  text-align: center;
  color: #fff;
}
.widget-archives i:after {
  content: '';
  position: absolute;
  top: 21px;
  left: 100%;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-left-width: 4px;
  border-left-style: solid; 
}
@media screen and (max-width: 980px) { /* pad */
  .widget-archives li {
    font-size: 14px;
  }
  .widget-archives a {
    padding-left: 59px;
  }
}
@media screen and (max-width: 767px) { /* phone */
  .widget-archives li {
    font-size: 16px;
  }
  .widget-archives a {
    padding-left: 64px;
  }
}


/**/
/* calendar */
/**/
.widget-calendar td {
  border: 1px solid #e3e3e3;
  font-size: 13px;
  line-height: 37px;
  text-align: center;
}
.widget-calendar td a {
  position: relative;
  display: block;
  color: #7c7c7c; 
}
.widget-calendar td a:hover {
  color: #fff;
}
.widget-calendar th {
  background: #f4f4f4;
  font-size: 9px;
  line-height: 17px;
  font-weight: 700;
  text-transform: uppercase;
}
.widget-calendar .ui-datepicker-header {
  position: relative;
  background: #f4f4f4;
  padding-top: 2px;
  font-size: 13px;
  line-height: 25px;
  text-align: center;
  color: #333;
}
.widget-calendar .ui-datepicker-prev,
.widget-calendar .ui-datepicker-next {
  position: absolute;
  top: 0;
  width: 14.28%;
  height: 27px;
  font-size: 22px;
  color: #fff;
}
.widget-calendar .ui-datepicker-prev {
  left: 0;
}
.widget-calendar .ui-datepicker-next {
  right: 0;
}
.widget-calendar .ui-datepicker-prev i,
.widget-calendar .ui-datepicker-next i {
  display: block;
  line-height: 26px;
}
.widget-calendar .ui-datepicker-prev i {
  text-indent: -1px;  
}
.widget-calendar .ui-datepicker-next i {
  text-indent: 1px; 
}
.widget-calendar .ui-datepicker-today a:after {
  content: '';
  position: absolute;
  top: 70%;
  right: 20%;
  left: 20%;
  height: 3px;
}


/**/
/* tags */
/**/
.widget-tags ul {
  font-size: 0;
  padding: 1px 0 0 1px;
}
.widget-tags li {
  display: inline-block;
  margin: -1px 0 0 -1px;
  font-size: 13px;
  line-height: 29px;
}
.widget-tags a {
  display: block;
  padding: 0 10px;
  border: 1px solid #e3e3e3;
  color: #7c7c7c;
}
.widget-tags a:hover {
  color: #fff;
}

/**/
/* pagination */
/**/
.pagination ul {
  font-size: 0;
  display: inline-block;
}
.pagination {
  width:100%;
  text-align:center;
}
.pagination,
.pagination li {
  display: inline-block;
  margin: 10px 1px;
  font-size: 13px;
  line-height: 38px;
}
.pagination a {
  display: block;
  padding: 0 15px;
  border: 1px solid #e3e3e3;
  color: #7c7c7c;
  display: inline-block;  
}
.pagination a:hover,
.pagination li.current a {
  color: #fff;
}
.pagination li.dots a,
.pagination li.dots a:hover {
  border:none;
  background:none;
  color: #7c7c7c;
}

@media screen and (max-width: 479px) { /* phone */
  .pagination ul {
    display: block;
  }
}


/**/
/* details */
/**/
.widget-details p {
  margin: 0 0 20px 10px;
  line-height: 22px;
}
.widget-details ul {
  margin: 0 0 20px 10px;
}
.widget-details li {
  position: relative;
  margin-top: 8px;
  padding-left: 12px;
  line-height: 22px;
}
.widget-details li i {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 12px;
  line-height: 22px;
  color: #333;
}
.widget-details strong {
  color: #000;
}


/**/
/* contacts */
/**/
.widget-contacts dl {
  border: 1px solid #e3e3e3;
  border-top: 0;
}
.widget-contacts dt {
  position: relative;
  padding: 11px 38px 11px 19px;
  border-top: 1px solid #e3e3e3;
  font-size: 16px;
  line-height: 24px;
  color: #000;
  cursor: pointer;
  -o-transition: background 0.3s, color 0.3s;
  -ms-transition: background 0.3s, color 0.3s;
  -moz-transition: background 0.3s, color 0.3s;
  -webkit-transition: background 0.3s, color 0.3s;
}
.widget-contacts dt.opened,
.widget-contacts dt.opened + dd{
  color:#fff;
}
.widget-contacts dt.opened:hover{
  color:#fff !important;
}
.widget-contacts dt:after,
.widget-contacts dt:before {
  content: '';
  position: absolute;
  top: 50%;
  right: 13px;
  width: 12px;
  height: 4px;
  margin-top: -2px;
}
.widget-contacts dt:before {
  right: 17px;
  width: 4px;
  height: 12px;
  margin-top: -6px;
}
.widget-contacts dt.opened:after,
.widget-contacts dt.opened:before {
  background: #fff;
}
.widget-contacts dt.opened:before {
  display: none;
}
.widget-contacts dd {
  display: none;
  padding: 2px 19px 15px 19px;
  -o-transition: background 0.3s, color 0.3s;
  -ms-transition: background 0.3s, color 0.3s;
  -moz-transition: background 0.3s, color 0.3s;
  -webkit-transition: background 0.3s, color 0.3s;
}
.widget-contacts li {
  margin-top: 6px;
  line-height: 20px;
  color: #fff;
}
.widget-contacts li a{
  color: #fff;
}
.widget-contacts li:first-child {
  margin-top: 0;
}
.widget-contacts dd i {
  display: block;
  float: left;
  width: 14px;
  margin-right: 5px;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
}


/**/
/* follow  */
/**/
.widget-follow ul {
  margin: -6px -3px 0;
  font-size: 0;
  text-align: center;
}
.widget-follow li {
  display: inline-block;
  vertical-align: top;
  margin: 6px 3px 0;
  font-size: 11px;
  line-height: 13px;
}
.widget-follow a {
  display: block;
  width: 84px;
  padding: 10px 0;
  border-width: 1px;
  border-style: solid;
}
.widget-follow a:hover {
  color: #fff;
}
.widget-follow i {
  display: block;
  width: 36px;
  height: 36px;
  margin: 0 auto 5px;
  font-size: 20px;
  line-height: 36px;
  color: #fff;
  -o-transition: background 0.3s, color 0.3s;
  -ms-transition: background 0.3s, color 0.3s;
  -moz-transition: background 0.3s, color 0.3s;
  -webkit-transition: background 0.3s, color 0.3s;
}
.widget-follow a:hover i {
  background: #fff;
} 
@media screen and (max-width: 1190px) { /* laptop */
  .widget-follow a {
    width: 67px;
  }
}
@media screen and (max-width: 980px) { /* pad */
  .widget-follow a {
    width: 80px;
  }
}



/*----------------------------------------------------------------------------*/
/*                                   FOOTER                                   */
/*----------------------------------------------------------------------------*/

/**/
/* layout */
/**/
.page-footer {
  position: relative;
  padding: 50px 0 10px;
  background: #213540;
}


/**/
/* widgets */
/**/
.widget-alt .widget-icon {
  height: 110px;
  background-position: 50% 0;
  background-repeat: no-repeat;
}
.widget-alt .widget-title {
  margin-bottom: 30px;
  padding: 0;
  border: 0;
  font-size: 21px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}


/**/
/* top link */
/**/
.top-link {
  position: absolute;
  right: 20px;
  bottom: 100%;
  width: 44px;
  height: 44px;
  background: #213540;
  font-size: 24px;
  line-height: 44px;
  text-align: center;
  color: #fff;
}


/**/
/* last news */
/**/
.last-news {
  margin: 0 10px;
  text-align: center;
}
.last-news li {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid rgba(255,255,255,0.2);  
}
.last-news li:first-child {
  margin-top: 0;
  padding-top: 0;
  border-top: 0;
}
.last-news li:first-child {
  padding-top: 0;
}
.last-news li:first-child:after {
  display: none;
}


/**/
/* location */
/**/
.location {
  margin: 0 10px;
  text-align: center;
}
.location li,
.location li a {
  margin-top: 15px;
  color: #fff;
}

.location li i {
  display: block;
  width: 30px;
  height: 30px;
  margin: 0 auto 5px;
  font-size: 20px;
  line-height: 30px;
  color: #213540;
}
.location li .fa-at {
  font-weight: 700;
}
.location nav {
  margin: 25px -5px 0;
  font-size: 0;
}
.location nav a {
  display: inline-block;
  width: 38px;
  height: 38px;
  margin: 5px;
  font-size: 24px;
  line-height: 38px;
  -o-transition: background 0.3s, color 0.3s;
  -ms-transition: background 0.3s, color 0.3s;
  -moz-transition: background 0.3s, color 0.3s;
  -webkit-transition: background 0.3s, color 0.3s;
}
.location nav a:hover {
  color: #213540;
}


/**/
/* recent posts */
/**/
.recent-posts {
  margin: 0 10px;
}
.recent-posts li {
  min-height: 80px;
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid rgba(255,255,255,0.2);    
}
.recent-posts li:first-child {
  margin-top: 0;
  padding-top: 0;
  border-top: 0;
}
.recent-posts img {
  display: block;
  float: left;
  margin-right: 15px;
}
.recent-posts p {
  overflow: hidden;
  line-height: 20px;
  color: #fff;
}
@media screen and (max-width: 980px) { /* pad */
  .recent-posts li {
    min-height: 0;
    text-align: center;
  }
  .recent-posts img {
    display: none;
  }
}


/**/
/* work time */
/**/
.work-time {
  position: relative;
  margin-top: 33px;
  padding: 60px 0 30px;
  color: #fff;
}
.work-time dl {
  line-height: 42px;
}
.work-time dt {
  position: relative;
  float: left;
  width: 28px;
  padding: 0 49px 0 30px;
  text-align: center;
}
.work-time dt:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 10px;
  width: 29px;
  height: 1px;
  background: #213540;
}
.work-time dd {
  border-bottom: 1px solid rgba(255,255,255,0.3);   
}
.work-time dd:last-child {
  border: 0;
}
.work-time .button {
  display: block;
  margin: 20px 30px 0;
  padding-right: 0;
  padding-left: 0;
  border-color: transparent;
  background: rgba(0,0,0,0.2);
}
.work-time .button:hover {
  border-color: #fff;
  background: transparent;
  color: #fff;
}
.work-time .widget-icon {
  position: absolute;
  top: -33px;
  left: 0;
  width: 100%;
  height: 66px;
}
@media screen and (max-width: 1190px) { /* laptop */
  .work-time {
    padding-bottom: 20px;
  }
  .work-time dt {
    padding: 0 30px 0 20px;
  }
  .work-time dt:after {
    width: 10px;
  }
  .work-time .button {
    margin: 20px 20px 0;
    font-size: 12px;
  }
}
@media screen and (max-width: 980px) { /* pad */
  .work-time dt {
    float: none;
    margin-bottom: -21px;
    text-align: left;
  }
  .work-time dt:after {
    display: none;
  }
  .work-time dd {
    padding-left: 20px;
    font-weight: 300;
  }
}
@media screen and (max-width: 767px) { /* phone */
  .work-time {
    margin-top: 83px;
    padding-bottom: 30px;
  }
  .work-time dt {
    float: left;
    margin: 0;
    padding: 0 49px 0 30px;
    text-align: center;
  }
  .work-time dt:after {
    display: block;
    width: 29px;
  }
  .work-time dd {
    padding-left: 0;
    font-weight: 400;
  }
  .work-time .button {
    margin: 20px 30px 0;
    font-size: 14px;
  }
}


/**/
/* copyrights */
/**/




/*----------------------------------------------------------------------------*/
/*                                 ANIMATIONS                                 */
/*----------------------------------------------------------------------------*/

/**/
/* slide up */
/**/
@-ms-keyframes slideup 
{
  0% {top:150px}
  70% {top:-15px}
  100% {top:0}
}
@-moz-keyframes slideup 
{
  0% {top:150px}
  70% {top:-15px}
  100% {top:0}
}
@-webkit-keyframes slideup 
{
  0% {top:150px}
  70% {top:-15px}
  100% {top:0}
}
.owl-carousel .item{
  margin-top:0;
  padding-left:0;
  padding-right:30px;
}
.news .owl-carousel .item h3{
  font-size:18px;
  margin:1em 0;
}
.wellness-style .news .item h3{
  text-align:center;
}
.news .owl-carousel{
  margin-left:-15px;
}
.news .owl-carousel .item{
  width:100%;
  padding-right:0;
}
.news .owl-carousel .owl-item{
  padding: 0 15px;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -ms-box-sizing:border-box;
}
.wellness-style .news .date{
  margin-top:1px;
}
.wellness-style .benefits .more{
  width: 32px;
  font-size: 14px;
  display:block;
  margin-right: 10px;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  text-align:center;
}
.wellness-style .benefits .more:before{
  position:relative;
  width:auto;
  height:auto;
  font-size:1.5em;
  top:0;
  left:0;
  background:transparent;
  content: "\f00c";
  color:#fff;
  display:inline-block;
}
.wellness-style .benefits .more:after{
  display:none;
}
.widget-comments .date{
  font-weight:700;
}
.float-right{
  float:right;
}
.widget-departments dd{
  padding-bottom:1em;
}
.widget-departments dd i{
    width:25px;
    height:25px;
    margin-top:1ex;
    line-height: 25px;
    vertical-align:none;
}
.widget-departments dd a{
  vertical-align: middle;
}
.wellness-style .widget-sevices li>i{
  color:#777 !important;
}
.grid-row>section{
  margin-bottom:0;
}
.chart-circle{
  position:relative;
  width:250px;
  height:250px;
  margin-right:30px;
  display:inline-block;
}
.chart-circle .value{
  position:absolute;
  font-size:25px;
  width:50px;
  height:50px;
  line-height:50px;
  left:100px;
  top:100px;
  text-align: center;
  vertical-align:middle;
}
.chart-circle.type-2 .value{
  font-weight:700;
}
.owl-carousel .item{
  margin-bottom:0;
}
.widget-departments dt{
  word-break:break-all;
}

@media screen and (max-width:767px){
  .chart-circle{
    display:block;
    margin:0 auto;
  }
}

.grid-row>.vc_row-fluid:last-child,.grid-row>.wpb_content_element:last-child{
  margin-bottom:0;
}

.widget-twitter:not(.widget-twitter-alt) .widget-title,.services-wide .widget-title,.widget-comments .widget-title,.doctors-carousel .widget-title{
  width:100%;
  -moz-box-sizing:border-box;
  -ms-box-sizing:border-box;
  box-sizing:border-box;
  word-break:normal;
  padding-right:65px;
}